@import '@unistylus/core/scss/mixins';

$icons: (
  'home': ('fluent', 'home_16_regular'),
  'posts': ('fluent', 'news_16_regular'),
  'articles': ('fluent', 'document_one_page_20_regular'),
  'videos': ('fluent', 'video_clip_16_regular'),
  'user': ('fluent', 'person_16_regular'),
  'setting': ('fluent', 'settings_16_regular'),
  'about': ('fluent', 'info_16_regular'),
  'help': ('fluent', 'question_circle_16_regular'),
  'more': ('fluent', 'more_horizontal_16_regular'),
);

@include register_icons($icons);

