@import '@unistylus/core';

/**
 * ====================================================
 * Icons
 * ====================================================
 */

$icons: (
  'home': ('fluent', 'home_16_regular', 'latest'),
  'posts': ('fluent', 'news_16_regular', 'latest'),
  'articles': ('fluent', 'document_one_page_20_regular', 'latest'),
  'videos': ('fluent', 'video_clip_16_regular', 'latest'),
  'user': ('fluent', 'person_16_regular', 'latest'),
  'setting': ('fluent', 'settings_16_regular', 'latest'),
  'about': ('fluent', 'info_16_regular', 'latest'),
  'help': ('fluent', 'question_circle_16_regular', 'latest'),
  'more': ('fluent', 'more_horizontal_16_regular', 'latest'),
  'right': ('fluent', 'chevron_right_20_regular', 'latest'),
  'search': ('fluent', 'search_20_regular', 'latest'),
);

@include register_icons($icons);

/**
 * ====================================================
 * Unistylus overrides
 * ====================================================
 */

.form-control {
  background: var(--app-color-background-tint);
}

.button-outline {
  background: var(--app-color-background-tint);
}

/**
 * ====================================================
 * Other overrides
 * ====================================================
 */

nguix-network-indicator {

  .show {
    bottom: calc(64px + 1rem) !important;
  }
}

nguix-nav-indicator {

  .show {
    bottom: calc(64px + 1rem) !important;
  }
}

nguix-pwa-reminder {
  background: var(--app-color-background-tint) !important;

  .show {
    bottom: 64px !important;
  }
}

nguix-videos, nguix-skeleton-videos {

  .list-thumbnail li {
    background: var(--app-color-background-tint) !important;
  }

  .list-card li {
    background: var(--app-color-background-tint) !important;
    transition: all .5s ease;

    &:hover, &:focus, &:active, &.active {
      box-shadow: 0 0 7px var(--app-color-background-shade);
    }

    .head {

      .thumbnail {
        border-radius: var(--app-size-radius) var(--app-size-radius) 0 0 !important;
      }
    }

    .body {
      padding: 0 1rem !important;
    }
  }

  .list-hybrid li {
    background: var(--app-color-background-tint) !important;
  }
}

nguix-video, nguix-skeleton-video {

  .player {
    border-radius: var(--app-size-radius) var(--app-size-radius) 0 0 !important;
  }

  .main {
    padding: 0 1rem 1rem;
  }
}

nguix-posts, nguix-skeleton-posts {

  .list-thumbnail li {
    background: var(--app-color-background-tint) !important;
  }

  .list-card li {
    background: var(--app-color-background-tint) !important;
    box-shadow: none !important;
    transition: all .5s ease;

    &:hover, &:focus, &:active, &.active {
      box-shadow: 0 0 7px var(--app-color-background-shade) !important;
    }
  }

  .list-hybrid li {
    background: var(--app-color-background-tint) !important;
  }
}

nguix-post, nguix-skeleton-post {

  .image {
    border-radius: var(--app-size-radius) var(--app-size-radius) 0 0 !important;
  }

  .main {
    padding: 0 1rem 1rem;
  }
}

nguix-oops-page nguix-oops {
  margin-top: 1rem !important;

  .image img {
    width: 100% !important;
    max-width: 500px !important;
  }

  p:nth-child(2) {
    margin-top: 3rem !important;
    font-size: 1.2rem;
    color: var(--app-color-medium);
  }

  p a {
    margin-top: 0 !important;
  }
}