@import '@unistylus/core/scss/mixins';

/**
 * ====================================================
 * Icons
 * ====================================================
 */

$icons: (
  'home': ('fluent', 'home_16_regular'),
  'posts': ('fluent', 'news_16_regular'),
  'articles': ('fluent', 'document_one_page_20_regular'),
  'videos': ('fluent', 'video_clip_16_regular'),
  'user': ('fluent', 'person_16_regular'),
  'setting': ('fluent', 'settings_16_regular'),
  'about': ('fluent', 'info_16_regular'),
  'help': ('fluent', 'question_circle_16_regular'),
  'more': ('fluent', 'more_horizontal_16_regular'),
  'right': ('fluent', 'chevron_right_20_regular'),
);

@include register_icons($icons);

/**
 * ====================================================
 * Unistylus overrides
 * ====================================================
 */

.form-control {
  background: var(--app-color-background-tint);
}

.button-outline {
  background: var(--app-color-background-tint);
}

/**
 * ====================================================
 * Other overrides
 * ====================================================
 */

nguix-network-indicator .host {

  &.show {
    bottom: calc(64px + 1rem) !important;
  }
}

nguix-nav-indicator .host {

  &.show {
    bottom: calc(64px + 1rem) !important;
  }
}

nguix-pwa-reminder .host {
  background: var(--app-color-background-tint) !important;

  &.show {
    bottom: 64px !important;
  }
}

nguix-videos, nguix-skeleton-videos .host {

  li {
    background: var(--app-color-background-tint) !important;
    transition: all .5s ease;

    &:hover, &:focus, &:active, &.active {
      box-shadow: 0 0 7px var(--app-color-background-shade);
    }

    .head {

      .thumbnail {
        border-radius: var(--app-size-radius) var(--app-size-radius) 0 0 !important;
      }
    }

    .body {
      padding: 0 1rem !important;
    }
  }
}

nguix-video, nguix-skeleton-video .host {

  .player {
    border-radius: var(--app-size-radius) var(--app-size-radius) 0 0 !important;
  }

  .main {
    padding: 0 1rem 1rem;
  }
}

nguix-posts, nguix-skeleton-posts .host {

  li {
    background: var(--app-color-background-tint) !important;
    box-shadow: none !important;
    transition: all .5s ease;

    &:hover, &:focus, &:active, &.active {
      box-shadow: 0 0 7px var(--app-color-background-shade) !important;
    }
  }
}

nguix-post, nguix-skeleton-post .host {

  .image {
    border-radius: var(--app-size-radius) var(--app-size-radius) 0 0 !important;
  }

  .main {
    padding: 0 1rem 1rem;
  }
}
