/* You can add global styles to this file, and also import other style files */

/**
 * ====================================================
 * 3rd parties
 * ====================================================
 */

// ...

/**
 * ====================================================
 * Unistylus
 * ====================================================
 */

// register skins
@use '@unistylus/core/scss/skins/light-default';

// modify "default" skin
// :root,
// [data-theme=default],
// [data-theme=light]
// {}

// register soul
@use '@unistylus/bootstrap/reset';
@use '@unistylus/bootstrap/core';
@use '@unistylus/bootstrap/content/typography';
@use '@unistylus/bootstrap/form/form-label';
@use '@unistylus/bootstrap/form/form-control';
@use '@unistylus/bootstrap/form/form-switch';
@use '@unistylus/bootstrap/components/icon';
@use '@unistylus/bootstrap/utilities/truncate';

/**
 * ====================================================
 * App styles 
 * ====================================================
 */

// ...
