/* You can add global styles to this file, and also import other style files */

/**
 * ====================================================
 * 3rd parties
 * ====================================================
 */

// ...

/**
 * ====================================================
 * Unistylus
 * ====================================================
 */

// register skins
@use '@unistylus/core/scss/skins/light-default';

// register soul
@use '@unistylus/bootstrap/reset';
@use '@unistylus/bootstrap/core';
@use '@unistylus/bootstrap/content/typography';
@use '@unistylus/bootstrap/form/form-label';
@use '@unistylus/bootstrap/form/form-control';
@use '@unistylus/bootstrap/form/form-switch';
@use '@unistylus/bootstrap/components/icon';
@use '@unistylus/bootstrap/components/modal-alert';
@use '@unistylus/bootstrap/components/button-default';
@use '@unistylus/bootstrap/components/button-clear';
@use '@unistylus/bootstrap/components/button-outline';
@use '@unistylus/bootstrap/components/button-primary';
@use '@unistylus/bootstrap/components/button-secondary';
@use '@unistylus/bootstrap/components/button-light-sm';
@use '@unistylus/bootstrap/utilities/truncate';

// modify "default" skin
:root,
[data-theme=default],
[data-theme=light]
{
  --app-font-head: 'Open Sans', sans-serif;
  --app-font-body: 'Open Sans', sans-serif;
  --app-color-light-tint: #ffffff;
  --app-size-radius: 1rem;
}

/**
 * ====================================================
 * App styles 
 * ====================================================
 */


nguix-nav-indicator .show {
  bottom: calc(64px + 1rem) !important;
}

nguix-pwa-reminder .show {
  bottom: 64px !important;
}
